if [ "$MIX_ENV" = "dev" ]; then
  export SECRET_KEY_BASE=$(mix phx.gen.secret)
  export DATABASE_URL=ecto://postgres:postgres@localhost/trackrunner_dev
  export PHX_SERVER=true
fi

if [ "$MIX_ENV" = "test" ]; then
  export SECRET_KEY_BASE="test_secret_key_base_please_ignore"
fi

