# (dev only)
export SECRET_KEY_BASE=5EovcokD7jvVqGmrKiP8YZnI1o1Dy8u7w1KXK5sXUUR8c5ApsQ6lhkqx6w4pg7Bh
export DATABASE_URL=ecto://postgres:postgres@localhost/trackrunner_dev
export PHX_SERVER=true
export MIX_ENV=dev
